<div class="container">
    <!-- Usamos Reactive Forms  con formGroup y declaramos la variable que creamos,la funcion de enviar sigue siendo igual -->
    <form [formGroup]="formularioContanto" (ngSubmit)="enviar()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <!--Decalramos el FormControlName con el campo 'nombre'-->
            <input type="text" class="form-control" id="name" formControlName="nombre">
            <div class="text-danger" *ngIf="hasErrors('nombre','required')">Campo Requerido</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <!--Declaramos el formControlName con el campo 'email'-->
            <input type="email" class="form-control" id="email" formControlName="email">
            <div class="text-danger" *ngIf="hasErrors('email','email')" >Email invalido</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>